.footer {
    text-align: center;
    background: #7560c7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
}

.footer .icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer .icons .icons-img {
    width: 100%;
}


