.footer {
    text-align: center;
    background: #7560c7;
}

.footer .footer-img {
    max-width: 100%;
}

.footer .icons {
    display: flex;
    justify-content: center;
    margin-top: -118px;
}

.footer .icons .icons-img {
    width: 55px;
    height: 55px;
}


